.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px 0;

  .tag {
    background-color: white;
    border: 1px solid rgb(131, 31, 31);
    color: rgb(131, 31, 31);
    border-radius: 40px;
    padding: 4px 16px;
    margin: 4px;
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in;
    cursor: pointer;

    &:hover {
      background-color: rgb(233, 181, 181);
    }
  }

  .selected {
    background-color: rgb(131, 31, 31);
    color: white;
    &:hover {
      background-color: rgb(131, 31, 31);
    }
  }
}
