.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  .value {
    font-size: 2.2em;
  }
  .count {
    color: #242424;
    font-size: 1em;
  }

  .stars {
    display: flex;
    .starItem {
      font-size: 1em;
      position: relative;
      display: inline-block;

      .starUnder {
        color: #ddd;
        vertical-align: top;
      }

      .starOver {
        color: #72161a;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
      }
    }
  }
}
