@import "./colors.scss";

.wineItem {
  display: flex;
  background-color: $white;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 750px;
  border: 1px solid $border;
  margin: 56px auto 0;
  padding: 16px;
  transition: box-shadow 0.2s ease-in;

  @media (max-width: 768px) {
    width: calc(100% - 16px);
    margin: 56px 8px 0;
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    border-color: $white;
    box-shadow: 8px 8px 16px rgba(84, 83, 83, 0.2);

    .wineImage {
      transform: scale(1.07);
    }
  }

  .wineImage {
    margin-top: -45px;
    width: 150px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0 0 25%;
    margin-right: 10px;
    align-self: center;
    transition: transform 0.2s ease-in;
    transform-origin: bottom center;

    @media (max-width: 768px) {
      flex: unset;
    }
  }

  .wineText {
    padding: 8px;
    flex: 1 1 50%;
    line-height: 28px;
    font-family: "Inter", sans-serif;
    @media (max-width: 768px) {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .winery {
      font-size: 1.3em;
      color: $text-secondary;
    }

    .name {
      font-size: 1.3em;
      font-weight: 500;
    }

    .origin {
      display: flex;
      align-items: center;
      font-size: 1em;

      .region {
        margin-left: 8px;
      }
    }
  }

  .rating {
    flex: 1 1 25%;
  }
}
