@import "./colors.scss";

.wineItemSkeleton {
  display: flex;
  background-color: $skeleton-background;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 750px;
  border: 1px solid $border;
  margin: 56px auto 0;
  padding: 16px;
  transition: box-shadow 0.2s ease-in;

  @media (max-width: 768px) {
    width: calc(100% - 16px);
    margin: 56px 8px 0;
    flex-direction: column;
  }

  .wineImageSkeleton {
    margin-top: -45px;
    width: 150px;
    height: 300px;
    flex: 0 0 25%;
    margin-right: 10px;
    mask-image: url("./images/bottle_skeleton_small.png");
    mask-repeat: no-repeat;
    mask-position: center;

    background: linear-gradient(
      90deg,
      $gradient-skeleton-start 0%,
      $gradient-skeleton-middle 33%,
      $gradient-skeleton-end 100%
    );
    background-size: 200% 100%;
    border-radius: 16px;
    animation: gradientAnimation 5s ease-in-out infinite;

    @media (max-width: 768px) {
      width: calc(100% - 16px);
      margin: 56px 8px 0;
      flex-direction: column;
    }
  }

  .wineTextSkeleton {
    flex: 1 1 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;

    .text {
      height: 30px;
      width: 160px;
      border-radius: 8px;
      background: linear-gradient(
        90deg,
        $gradient-skeleton-start 0%,
        $gradient-skeleton-middle 33%,
        $gradient-skeleton-end 100%
      );
      background-size: 200% 100%;

      animation: gradientAnimation 5s ease-in-out infinite;
    }
  }

  .ratingSkeleton {
    flex: 1 1 10%;
    height: 80px;
    width: 60px;
    border-radius: 8px;
    margin-top: 24px;
    margin-right: 24px;
    background: linear-gradient(
      90deg,
      $gradient-skeleton-start 0%,
      $gradient-skeleton-middle 33%,
      $gradient-skeleton-end 100%
    );
    background-size: 200% 100%;
    animation: gradientAnimation 5s ease-in-out infinite;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes lighten {
  0% {
    background-color: grey;
  }
  100% {
    background-color: lighten(grey, 20%);
  }
}
